[run]
source = sglang.srt.hardware_backend.npu
parallel = true
relative_files = true
concurrency = multiprocessing
omit =
    */test/*
    */__pycache__/*

[paths]
source =
    python/sglang/srt/hardware_backend/npu
    */python/sglang/srt/hardware_backend/npu
    sglang/srt/hardware_backend/npu

[report]
show_missing = true
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    if TYPE_CHECKING
